* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  --primary-color: #323238;
  --card-bg-color: #E1E1E6;
  --card-selected-bg-color: #02799D;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

main {
  display: flex;
  gap: 19.2rem;

  min-width: 82rem;
  margin: auto;

  height: 100vh;

  justify-content: center;
  align-items: center;
  padding: 19rem 22rem;
}

.timer-container {
  display: flex;
  flex-direction: column;
  width: 32.5rem;
  min-width: 32.5rem;
  padding:6rem 0;
}

.timer-container span{
  font-size: 12.6rem;
  line-height: 14.7rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.buttons-container button {
  width: 4.8rem;
  height: 4.8rem;
}

.sound-cards {
  display: grid;
  grid-template-areas: 'card card' 'card card';
  gap: 32px;
}

.sound-cards button {
  height: 15.2rem;
  width: 13.8rem;
  border-radius: 2.4rem;

  background-color: var(--card-bg-color);
}

.sound-cards button.selected {
  background-color: var(--card-selected-bg-color);
}

.sound-cards button.selected img {
  filter: brightness(0) invert(1);
}