* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  --primary-color: #323238;
  --card-bg-color: #E1E1E6;
  --card-selected-bg-color: #02799D;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

main {
  display: flex;
  gap: 19.2rem;
  justify-content: center;
  align-items: center;
  min-width: 82rem;
  margin: auto;
  padding: 19rem 22rem;

  height: 100vh;
}

input {
  appearance: none;
  height: 4px;
  border-radius: 5px;
  width: 9rem;
  outline: none;
  background: var(--primary-color);
  cursor: pointer;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--primary-color);
}

.timer-container {
  display: flex;
  flex-direction: column;
  width: 32.5rem;
  min-width: 32.5rem;
  padding:6rem 0;
}

.timer-container span{
  font-size: 12.6rem;
  line-height: 14.7rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.buttons-container button {
  width: 4.8rem;
  height: 4.8rem;
}

.sound-cards {
  display: grid;
  grid-template-areas: 'card card' 'card card';
  gap: 32px;
}

.sound-cards button {
  height: 15.2rem;
  width: 13.8rem;
  border-radius: 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-color: var(--card-bg-color);
}

.sound-cards button.selected {
  background-color: var(--card-selected-bg-color);
}

.sound-cards button.selected img {
  filter: brightness(0) invert(1);
}

.switch-light, .switch-dark {
  position: absolute;
  top: 6rem;
  right: 6rem;
}

.sound-cards .selected input {
  background: white;
}

.sound-cards .selected input::-webkit-slider-thumb {
  background: white;
}

.hide {
  display: none;
}

body.dark-mode {
  background-color: #000000;
  color: white;
}

.buttons-container.dark-mode button {
  filter: invert(76%) sepia(56%) saturate(26%) hue-rotate(202deg) brightness(94%) contrast(88%);
}

.sound-cards.dark-mode button {
  background-color: #29292E;
}

.sound-cards.dark-mode button img {
  filter: invert(76%) sepia(56%) saturate(26%) hue-rotate(202deg) brightness(94%) contrast(88%);
}

.sound-cards.dark-mode input {
  background: white;
}

.sound-cards.dark-mode input::-webkit-slider-thumb {
  background: white;
}

.switch-dark { 
  filter: brightness(0) invert(1);
}

.sound-cards.dark-mode button.selected {
  background-color: #0A3442;
}